body {
    background: linear-gradient(90deg, #efc8b5, #eab7a2) !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

 